tmdbApiKey: 
providerRegion: GB
radarrApiKey: 
radarrUrl: http://localhost:7878
sonarrApiKey: 
sonarrUrl: http://localhost:8989
requiredProviders:
    - Netflix
    - Disney Plus
tagPrefix: elsewherr-